*.cpp linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.hpp linguist-vendored
*.swift linguist-vendored
*.kt linguist-vendored
*.kts linguist-vendored
*.html linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
android/* linguist-documentation
ios/* linguist-documentation
windows/* linguist-documentation
linux/* linguist-documentation
macos/* linguist-documentation
web/* linguist-documentation
